<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CFAMI</title>
  <link rel="shortcut icon" href='../img/cfami.png'  type="image/x-icon">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
  <link href="css/style.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="owl.theme.default.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <!-- Navbar Begins -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
          <a class="navbar-brand" href="/">
            <div class="" style="width: 50px; height: 20x;">
              <img src="../img/cfami.png" width="100%">
            </div>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav justify-content-end Nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sermons">Sermons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ministries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/sadop">SADOP</a>
                  <a class="dropdown-item" href="/disom">DISOM</a>
                  <a class="dropdown-item" href="/abdgm">ABDGM</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blogs">Blogs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      <!-- Navbar Ends -->

      <div class="about-bg">
        <h2 class="top-text">About Us</h2><br>
      </div>

      <div class="container">
        <div class="section">
          <div class="row">
              <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-12">
              <h3 class="text-center">About CFAMI</h3>
              <p>
                Christ for Africa Ministries(CFAMI) all started in August, 2003 after God gave the General Overseer in person of
                Apostle (Dr) Bukky Olaoluwa David (JP) the mandate of the ministry. Before this mandate was
                given, brethren hold vigils and fellowship in various houses and locations after which the first
                programme of the church was held on August 2003 at the then Fakunle Comprehensive High
                School, Osogbo and she recorded 13 people in attendance. And this venue was used till 2004
                before the ministry started Campus programme being one of the visions of the ministry.

                The first Campus programme was held at Osun State College of Technology Esa-Oke
                with the Theme: “OPEN HEAVEN”in 2005. Series of programme was held in the same
                institution like Healing Crusade till 2007 when the ministry stepped out to other institutions
                like University of Ado-Ekiti now Ekiti State University. The first attendance of the programme
                at University of Ado-Ekiti recorded over 400 people on the first day, same thing applicable on
                the second day of the programme while on the third day which is the last day, we recorded over
                700 people in attendance. During the course of these programmes, there were lots of life
                changing testimonies recorded, healing, deliverance, salvation for the lost souls and many more.
                The ministry has been to many campuses in Nigeria and has also ministered in differ ent places
                and programme such as NCCF Osun State Conference, NCCF Ebonyi State Conference, NCCF
                Ondo State Conference, Kano, etc.
                When the ministry started, she was named Christ For Africa (CFA) which later emerge
                as Christ for Africa Ministry World-Wide before she finally became Christ For Africa
                Ministries International (CFAMI) in 2017 after her registration with the Corporate Affairs
                Commission. CFAMI did not start as a church but as a fellowship. The founder clearly stepped
                out of CAC in 2009 June but our doctrine then just look like that of CAC, MFM, DEEPER
                LIFE.
                CFAMI started her first programme as a church on 27th September, 2009 and this was
                held at 4pm in the evening. Apostle (Dr) Bukky Olaoluwa David (JP) started out with his wife
                and children alone doing service together on Sunday mornings until God began to add to the
                church from glory to glory.
                
                The ministry has four differ ent locations, Solution City which is the National
                Headquarters in Nigeria, Kings City in New Jersey and Liberation City and Royal City both in
                Nigeria with many more cities to emerge.
                The ministry has held many programmes such as revivals, crusades, conferences, etc
                where the blind was healed, a deaf and dump was able to hear, many diseases were healed and
                many signs and wonders were wrought all by the power and grace of God
                
              </p><br>
            </div>
            <!-- <div class="col-sm-1"></div> -->
          </div>

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <h3 class="text-center">CFAMI Church Services</h3><br>
            </div>
            <div class="col-sm-3"></div><br>
          </div>

          <div class="row">
            <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
              <span class="bolder" style="color: #232E4D;">Thursday - </span><span style="color:#232E4D;"> Prayer Meeting</span><br>
              <i class="fa fa-clock-o" aria-hidden="true" style="color:#232E4D;"></i><span style="color:#232E4D;"> 5:00pm</span><br><br>
  
              <span class="bolder" style="color:#232E4D;">Friday - </span><span style="color:#232E4D;"> Bible Study</span><br>
              <i class="fa fa-clock-o" aria-hidden="true" style="color:#232E4D;"></i><span style="color:#232E4D;"> 5:00pm</span><br><br>
  
              <span class="bolder" style="color: #232E4D;">Sunday - </span><span style="color: #232E4D;"> Supernatural Encounter</span><br>
              <i class="fa fa-clock-o" aria-hidden="true" style="color:#232E4D;"></i><span style="color:#232E4D;"> 8:30am</span><br><br>
            
              <p>Connect with us from any part of the world via our social media platforms</p>
              <!-- <i class="fab fa-facebook"></i> -->
               <!--twitter-->
               <a href="http://www.twitter.com/cfamihq"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
               <!--Google-->
               <a href="https://chat.whatsapp.com/B51WD7mwJD0Cb3gAgia01K"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
               <!--Google-->
               <a href="https://web.facebook.com/Christforafricaministries/live/"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
               <!--Google-->
               <a href="https://instagram.com/christforafricaministries" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
               <!--Youtube-->
               <a href="https://www.youtube.com/channel/UCJwyQhwZole8VGCoAf7KQFA"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>

            </div>


            <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
              <i class="fa fa-map-marker" aria-hidden="true" style="color:#495057;"></i><span class="bolder" style="color:#495057;"> Location</span><br><br>
              <p>
                Olude Osogbo,<br>
                Osun State,<br>
                Nigeria.<br>
                Senior Pastor: Apostle Dr Bukky O. David (JP)
              </p>

              <h4>Other Church branches</h4>
              <i class="fal fa-school"></i>
              <p>
                LIBRATION  CITY 
                Behind Onward Hospital Adjacent Rave FM Agunbelewo area Osogbo.
                Presiding Pastor: DEACON  FEMI ADEJUMO.
              </p>

              <i class="fal fa-school"></i>
              <p>
                ROYAL CITY 
                Royal City Along Ayekale Otaefun Road Before Railway Road, Osogbo Osun State.
                Presiding Pastor: PASTOR FESTUS ADEWUYI ADEYEMI
              </p><br>

            </div>

            <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded">
              <center>
                <!-- <i class="fa fa-book" aria-hidden="true" style="color: #495057; font-size: 150px;"></i><br> -->
                <img src="../img/pray.png" width="40%">
              </center>
              <i class="fa fa-quote-left" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i><br>
              <p style="font-size: 18px;">
                But we all, with open face beholding as in a glass the glory of the Lord, are changed into the same
                image from glory to glory, even as by the Spirit of the Lord. 
              </p>
              <p>2 Cor 3 : 18</p>
              
              <i class="fa fa-quote-right" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="aptrev-bg">
        <div class="container">
          <div class="section row">
            <div class="col-sm-4">
              <div class="" style="width: fit-content;">
                <img src="../img/IMG2.JPG" width="100%"><br>
              </div>
            </div>
            <div class="col-sm-8">
              <i class="fa fa-quote-left" aria-hidden="true" style="color:white; font-size:30px;"></i>
              <p style="color: white; font-size: 21px;">
                Apostle Dr Bukky Olaoluwa David is a renowned man from God and the General Overseer of Christ For
                Africa Ministries International. He's married to Rev Dr Mrs Rachael Oyenike David. The Lord has been
                using him both home and abroad with the mandate of bringing into reality the Apostolic Act, raising end
                time generals for Christ, to teach the true word of God and the kingdom business has been prospering
                in his hands. He's also the Founder of Diamond International School of Ministry, Sons and daughters of
                the Prophet, Apostle Bukky David Global Ministry and many more.
              </p>
              <i class="fa fa-quote-right" aria-hidden="true" style="color:white; font-size:30px;"></i><br><br>

              <footer><h5 style="color: white;">Apostle(Dr) Bukky Olaoluwa David(JP) & Rev(Dr)Mrs Rachael Oyenike David.</h5></footer>
            </div>
          </div>
          
        </div>
      </div>

      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-4 justify-content-center d-flex">
              <div class="">
  
                <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                  <center>
                    <i class="fa fa-binoculars" aria-hidden="true" style="color: #232E4D; font-size: 130px;"></i><br><br>
                    <h3 class="blog-title">Our Vission</h3><br>
                  </center>
                  <i class="fa fa-quote-left" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                    <p style="color:#495057;">
                      TO RAISE FAITH-FILLED CHURCH.<br>
                      TO RAISE ENDTIME GENERALS.<br>
                      TO SHOW PEOPLE TRUE PART OF LIFE.
                    </p>
                    <i class="fa fa-quote-right" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                   
                </div>
              </div>
            </div>

            <div class="col-sm-4 justify-content-center d-flex">
              <div class="">
  
                <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                  <center>
                    <i class="fa fa-book" aria-hidden="true" style="color: #232E4D; font-size: 130px;"></i><br><br>
                    <h3 class="blog-title">Our Message</h3><br>
                  </center>
                    <i class="fa fa-quote-left" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                    <p style="color:#495057;">          
                      PREACHING OF REVELATIONAL WORD OF GOD.<br>
                      THROUGH INSPIRATIONAL PRAISE & WORSHIP.<br>
                      THROUGH DEMONSTRATION OF RAW POWER OF GOD.
                      
                    </p>
                    <i class="fa fa-quote-right" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                   
                </div>
              </div>
            </div>
  
            <div class="col-sm-4 justify-content-center d-flex">
              <div class="">
  
                <div class="box-cont shadow p-3 mb-5 bg-white rounded">
                  <center>
                    <i class="fa fa-rocket" aria-hidden="true" style="color: #232E4D; font-size: 130px;"></i><br><br>
                    <h3 class="blog-title">Vehicles</h3><br>
                  </center>
                  <i class="fa fa-quote-left" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                    <p style="color:#495057;">
                      To bring all men into the knowledge of CHRIST.
                      
                    </p>
                    <i class="fa fa-quote-right" aria-hidden="true" style="color:#232E4D; font-size:20px;"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="dsg">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h3 class="text-center">Meet Our Pastors</h3><br>
              </div>
              <div class="col-sm-3"></div>
            </div>
            <div class="wrapper text-center">
              <div class="pastor-carousel owl-carousel owl-theme">
                <% for (var i = 0; i < pst.length; i++  ){ %>
                  <div class="item" style="width: 60%;">
                    <img class="d-block w-100 pst-img" src="<%= pst[i].imgUrl  %>" width="100%"> <br>
                    <h5 class="text-center"><%= pst[i].name  %></h5>
                  </div>
                <% } %>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section"></div>
      </div>


      <div class="bg">
        <div class="container">
          <div class="section">
            <div class="row">
              <div class="col-sm-4">
                <div class="" style="width: 80px; height: 20x;">
                  <center>
                    <img src="../img/cfami.png" width="100%"><br>
                  </center>
                  
                </div>
                <p class="p1" style="font-size: 20px;">
                  Connect with us via our social media platforms.
                  
                </p>
                <!-- <i class="fab fa-facebook"></i> -->
                <!--twitter-->
                <a href="http://www.twitter.com/cfamihq"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
                <!--Google-->
                <a href="https://chat.whatsapp.com/B51WD7mwJD0Cb3gAgia01K"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
                <!--Google-->
                <a href="https://web.facebook.com/Christforafricaministries/live/"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
                <!--Google-->
                <a href="https://instagram.com/christforafricaministries" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
                <!--Youtube-->
                <a href="https://www.youtube.com/channel/UCJwyQhwZole8VGCoAf7KQFA"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
                  </div><br>

              <div class="col-sm-2">
                <h4 class="p1">Quick Links</h4><br><br>
                <span class="p2 a_link"><a href="/about" class="p2"> About us</a></span><br><br>
                <span class="p2 a_link"><a href="/contact" class="p2"> Contact us</a></span><br><br>
                <span class="p2 a_link"><a href="/sermons" class="p2"> Sermons</a></span><br><br>
                <span class="p2 a_link"><a href="/events" class="p2"> Events</a></span><br><br>
                <span class="p2 a_link"><a href="/blogs" class="p2"> Blogs</a></span><br><br>
              </div><br>

              <div class="col-sm-3">
                <h4 class="p1">Contact Information</h4><br><br>
                <span class="p1"><i class="fa fa-map-marker " aria-hidden="true"></i> Christ for Africa Ministries International Solution City, Olude Osogbo, Osun state, Nigeria</span><br><br>
                <span class="p2 a_link"><a href="callto:08038478080" class="p2"><i class="fa fa-phone" aria-hidden="true"></i>   +234 8038478080</a></span><br><br>
              </div><br>

              <div class="col-sm-3">
                <h3 class="text-center bolder p1">NEWSLETTER</h3>
                <p class="text-center p1">Subcribe to our news letter to get updated about new events</p>
                
                <form action="#" method="POST">
                  <div class="form-group" >
                    <input type="email" class="form-control sub-newsletter" width="15px;" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address" required>
                  </div>
                  <center><button class="btn btn-primary sub-btn bolder" style="width:70%;">Subcribe</button></center>
                </form>
              </div><br>
            </div>
          </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="Js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
    
    <script src="Js/main.js" ></script>
</body>
</html>