<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diamond International School of Ministry</title>
  <link rel="shortcut icon" href='../img/cfami.png'  type="image/x-icon">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
  <link href="css/style.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
  <link href="owl.carousel.min.css" rel="stylesheet">
  <link href="owl.theme.default.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css " rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<body>
 <!-- Navbar Begins -->
 <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <div class="" style="width: 50px; height: 20x;">
      <img src="../img/cfami.png" width="100%">
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse Nav" id="navbarNav">
    <ul class="navbar-nav justify-content-end Na">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sermons">Sermons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ministries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sadop">SADOP</a>
          <a class="dropdown-item" href="/disom">DISOM  <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/abdgm">ABDGM</a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/blogs">Blogs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar Ends -->

  <div class="about-bg">
    <h2 class="top-text">Diamond International School of Ministry</h2><br>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <h3>About DISOM</h3><br>
        </div>
        <div class="col-sm-4"></div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <img src="./img/disom-apt.jpg" width="100%">
        </div>
        <div class="col-sm-6">
          <p><br>
            Diamond International School of Ministry is a ministry with the purpose of raising Godly
            disciples that will expand the Kingdom of God and to establish the Authority of Christ.
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="apt-background">
        <div class="container">
          <div class="section">
            <div class="row">
              
              <div class="col-sm-8">
                <i class="fa fa-quote-left" aria-hidden="true" style="color:white; font-size:30px;"></i>
                <p style="color: white; font-size: 20px;">
                  Diamond International School of Ministry(DISOM) is a ministry with the purpose
                  of raising Godly disciples that will expand the Kingdom of God and to establish the Authority
                  of Christ. We are committed to disciple men and women, youths and adult, also teach them
                  the undiluted word of God and equip them for every good works
                  Every applicant in this school of Ministry will be graduated after the completion of their
                  studies in the school. We run both full time and part time courses varing from different
                  aspect of the ministry and we are using this medium to encourage every individual to enroll
                  in this school.
                  We look forward to hear from our prospective students.
                  Thanks so much and God bless you all.<br><br>

                  Apostle Dr Bukky O. David (JP)
                  Chairman BOT
                  Bradford University and DISOM
                </p>
                <i class="fa fa-quote-right" aria-hidden="true" style="color:white; font-size:30px;"></i><br><br>

                <!-- <footer><h5 style="color: white;">Apostle(Dr.) Bukky Olaoluwa David</h5></footer><br> -->

                <p style="color: white">Click on the button below to be registered into the Diamond International School of Ministry </p><br>
                <a href="https://forms.gle/fBXWXRQzEHcbVBhs8"><button type="button" class="btn btn-primary DISOM-btn"> Register  </button></a>
              </div><br>

              <div class="col-sm-4">
                <br>
                <div class="" style="width: fit-content;">
                  <img src="../img/22.jpeg" width="100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <h3>Graduates of DISOM</h3>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
          <% for (var i = 0; i < disom.length; i++  ){ %>
          <div class="col-sm-4">
            <center>
              <div class="">
                <img src="<%= disom[i].imgUrl %>" width="70%" style="border-radius: 300px;"><br>
              </div>
              
              <p>
                <%- disom[i].editor1 %>
              </p>
            </center>
          </div>
          <% } %>
        </div>
      </div>

        
  <div class="bg">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col-sm-4">
            <div class="" style="width: 80px; height: 20x;">
              <center>
                <img src="../img/cfami.png" width="100%"><br>
              </center>
              
            </div>
            <p class="p1" style="font-size: 20px;">
              Connect with us via our social media platforms.
              
            </p>
            <!-- <i class="fab fa-facebook"></i> -->
            <!--twitter-->
            <a href="http://www.twitter.com/cfamihq"><button type="button" class="btn social-link"><i class="fa fa-twitter"></i></button></a>
            <!--Google-->
            <a href="https://chat.whatsapp.com/B51WD7mwJD0Cb3gAgia01K"><button type="button" class="btn social-link"><i class="fa fa-whatsapp"></i> </button></a>
            <!--Facebook-->
            <a href="https://web.facebook.com/cfamihq?_rdc=1&_rdr"><button type="button" class="btn social-link"><i class="fa fa-facebook"></i> </button></a>
            <!--Instagram-->
            <a href="https://www.instagram.com/cfamihq/" target="_blank" rel="noopener noreferrer"><button type="button" class="btn social-link"><i class="fa fa-instagram"></i> </button></a>
            <!--Youtube-->
            <a href="https://www.youtube.com/channel/UCJwyQhwZole8VGCoAf7KQFA"><button type="button" class="btn social-link"><i class="fa fa-youtube"></i> </button></a>
              </div><br>

          <div class="col-sm-2">
            <h4 class="p1">Quick Links</h4><br><br>
            <span class="p2 a_link"><a href="/about" class="p2"> About us</a></span><br><br>
            <span class="p2 a_link"><a href="/contact" class="p2"> Contact us</a></span><br><br>
            <span class="p2 a_link"><a href="/sermons" class="p2"> Sermons</a></span><br><br>
            <span class="p2 a_link"><a href="/events" class="p2"> Events</a></span><br><br>
            <span class="p2 a_link"><a href="/blogs" class="p2"> Blogs</a></span><br><br>
          </div><br>

          <div class="col-sm-3">
            <h4 class="p1">Contact Information</h4><br><br>
            <span class="p1"><i class="fa fa-map-marker " aria-hidden="true"></i> Christ for Africa Ministries International Solution City, Olude Osogbo, Osun state, Nigeria</span><br><br>
            <span class="p2 a_link"><a href="callto:08038478080" class="p2"><i class="fa fa-phone" aria-hidden="true"></i>   +234 8038478080</a></span><br><br>
          </div><br>

          <div class="col-sm-3">
            <h3 class="text-center bolder p1">NEWSLETTER</h3>
            <p class="text-center p1">Subcribe to our news letter to get updated about new events</p>
            
            <form action="" method="">
              <div class="form-group" >
                <input type="email" class="form-control sub-newsletter" width="15px;" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email address" required>
              </div>
              <center><button class="btn sub-btn bolder" style="width:70%;">Subcribe</button></center>
            </form>
          </div><br>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="Js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" ></script>
  <script src="Js/main.js" ></script>
</body>
</html>
