h1 h2 h3 h4 h5 h6 p{
  font-family: Cambria;
}
body {
  
  font-family: 'GestaRegular', Arial, Helvetica, sans-serif;
}

.collapse ul{
  float: right;
  right: 600;
  padding-right: 500px;
}

.dsg{
    background-color:#F7FAFF
}



a{
  text-decoration: none;
}

.a_link{
  text-decoration: none;
  text-underline-offset: none;
}

.pst-img{
  border-radius: 700px;
}

/* map */

#map {
	height: 400px;
	width: 100%;
	@include media-breakpoint-down(md) {
		height: 300px;
	}
}

.test-img{
  /* width: 20%;
  height: 50%;
  border-radius: 500px; */
}

.msg-img{
  width: 100%;
  min-height: 300px;
}

.gal{
  width: 100%;
  border-radius: 12px;
  min-height: 270px;
  max-height: 190px
}

.msg-btn{
  background-color: antiquewhite;
  color: #232E4D;
  padding: 10px 70px;
}
.msg-btn:hover{
  background-color: #232E4D;
  color: antiquewhite;
  padding: 10px 70px;
}

.reg-btn{
  background-color: antiquewhite;
  color: #232E4D;
  padding: 10px 40px;
  border-radius: 10px
}
.reg-btn:hover{
  background-color: #232E4D;
  color: antiquewhite;
  padding: 11px 41px;
  border-radius: 10px;
}

.DISOM-btn{
  color:black;
  background-color: white;
  padding: 10px 50px;
  border-radius: 25px;
}

.DISOM-btn:hover{
  color:black;
  background-color: snow;
  padding: 12px 55px;
  border-radius: 25px;
}

.bg{
  background-color: #232E4D;
}

.top-text {
  text-align: center;
  padding-top: 290px;
  color: white;
  font-size: 70px;
}

.sub-btn{
  background-color: antiquewhite;
  color: #232E4D;
}

.sub-btn:hover{
  background-color: #5679da;
  color: antiquewhite;
}

.social-link{
  background-color: #232E4D;
  color: antiquewhite;
  font-size: 25px;
  border-radius: 60px;
  padding: 2px 12px;
}
.social-link:hover{
  color: #232E4D;
  background-color: antiquewhite;
}

.Nav{
    justify-content: left;
    position: left;
}

.p1{
  color: antiquewhite;
}

.p2{
  color: antiquewhite;
  text-decoration: none;
}

.p2 :hover{
  color: #F7FAFF;
  text-decoration: none;
}

.bolder{
  font: bold;
}

.section{
    padding: 60px 0px;
}

.rd-more{
  color: #25A4E2;
  text-decoration: none;
}

.rd-more :hover{
  color: #06064E;
  text-decoration: none;
}

.home-top-img {
    background-image: 
    linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
    url(../img/dad&mom.jpeg);
    width: 100%;
    height: 650px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* .home-top-img2 {
    background-image: 
    linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
    url(../img/5.jpeg);
    width: 100%;
    height: 650px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} */

/* .home-top-img3 {
    background-image: 
    linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
    url(../img/Rev_Dr_David.jpg);
    width: 100%;
    height: 650px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} */

.about-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/Congregation\ 1.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.contact-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/contactUs.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.sermon-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/10.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.event-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/14.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.blog-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/13.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.sadop-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/8.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.abdgm-bg {
  background-image: 
  linear-gradient(to right, rgba(36, 66, 93, 0.726), rgba(1, 9, 26, 0.739)),
  url(../img/17.jpg);
  width: 100%;
  height: 650px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.apt-background {
    background-image: 
    linear-gradient(to right, rgba(14, 14, 15, 0.89), rgba(12, 12, 14, 0.856)),
    url(../img/apostle_bg.JPG);
    /* width: 100%; */
    max-height: 1400px;
    /* min-height:400px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.aptrev-bg {
  background-image: 
  linear-gradient(to right, rgba(14, 14, 15, 0.89), rgba(12, 12, 14, 0.856)),
  url(../img/bg1.jpeg);
  /* width: 100%; */
  max-height: 1400px;
  /* min-height:200px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* number counter */
#shiva
{
  /* width: 150px;
	height: 120px; */
	/* background:; */
	/* -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px; */
  /* float:right; */
  margin:5px;
}
.count
{
  /* line-height: 100px; */
  color:black;
  position: center;
  /* margin-left:; */
  font-size:45px;
}
#talkbubble {
   /* width: 120px;
   height: 80px; */
   background: white;
   position: relative;
   /* -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px; */
  float:center;
  /* margin:20px; */
}
#talkbubble:before {
   content:"";
   position: absolute;
   /* right: 100%; */
   /* top: 26px; */
   width: 0;
   height: 0;
   /* border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent; */
}

.linker
{
  font-size : 20px;
  /* font-color: black; */
}
/* counter ends */

/* Contact */
.contact-section {
  margin-top: -250px;
}
.contact-section .container {
    z-index: 2;
    padding: 30px;
  }
  @media (min-width: 768px) {
      .contact-section .container {
        padding: 70px; } 
  }
  .contact-section .contact-info p a {
    color: #1a1a1a; 
  }
  .block-9 .form-control {
      outline: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      font-size: 15px; }

/* contact ends */
.blog-a{
  text-decoration: none !important;
}
.blog-a:hover{
  text-decoration: none;
}

.error{
  font-size:200px;
  color:#25A4E2;
  font-family: 'Times New Roman', Times, serif;
}

.error-p{
  color:black;
  font-family: 'Times New Roman', Times, serif;
}



